.gradle/
.kotlin/
.idea/
local.properties
app/signing.properties
*.jks
*.keystore
**/build/
captures/
.externalNativeBuild/
.cxx/
*.imlsample-UI.jpg
system_architecture_document.md
system_design_document.md
sample-UI.jpg
